<div class="col-xs-4 col-xs-offset-4">
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <div class="form-group">
      <label for="email">Email</label>
      <input formControlName="email" id="email" type="email" class="form-control">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input formControlName="password" id="password" type="password" class="form-control">
    </div>
    <small class="text-muted" *ngIf="loginFailed" style="color: red;">Login or password invalid</small>
    <hr>
    <button class="btn btn-success" type="submit" [disabled]="loginForm.invalid">Login</button>
    <button routerLink="/signup" class="btn btn-primary" type="button">Create Account</button>
  </form>
</div>